/* Vission & Mission */




.form {
    margin-top: 25px;

}
.image {
    width: 250px;
    height: 300px;
    left: 500px; 
	margin-left:100px;
	padding:10px
}

.overlay {
  position: absolute;
  bottom: -150px;
  left: 0;
  right: 0;
  background-color: black;
  overflow: hidden;
  width: 0;
  height: 100px;
  transition: .5s ease;
  margin-left:90px;
  margin-top:50px
}

.aboutuscontainer:hover .overlay {
  width: 100%;
}

.text {
  white-space: nowrap; 
  color: white;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.text2{
    white-space: nowrap; 
  color: white;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.aboutuscontainer {
  position: relative;
  width: 20%;
  float:left;
}

.form{
height:500px;


}
p{
	font-size:18px
}
h3{
	font-size:40px;
	color:Crimson;
	
}
body{
	background:url("white.jpg");
	background-size:cover
}