label {
            width: 180px;
            float: left;
            padding: -10px;
            color:#1b1b1b;
			margin:20px 50px -5px 160px;
	
        }
body{
	background:url("feedback.jpg");
	background-size:cover;
} 

.feedbackContainer {
    padding-top: 1%;
	padding-bottom:0.5%;
`   padding-left:10;
	background:#e7e7e7;
	margin-left:250px;
	margin-top:10px;
	margin-right:250px;
	border-radius:10%;
	

}

.button {
	background-color:#4CAF50;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;
}
.button:hover {
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
	 background-color: #45a049;
}
.starstar{
	float:left;
	margin-right:-0.1%;
	
}

.radio-text{
	margin-right:-2.8%;
	text-align:center;
	display:block;
}
#name,#email,#contactNumber{
	width: 35%;
  padding: 15px 20px;
  margin: -10px 10 0 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background:#fff
}
#message{
	width:35%;
	padding: 12px 20px;
	margin: 0px 10 0 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	
}
#feedbackForm{
	font-size:20px;
}
.reset {
	background-color:red;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;
}

